<h1 class="account-title">Order completed!</h1>
<p class="out-of-stock-message">Thank you for your order, you can follow your order status at your profile.</p>
<p class="out-of-stock-message">
    <a class="out-of-stock-message a-link" href='@Url.Action("Index", "Home")'>CONTINUE TO HOME</a>
</p>
