

<h1 class="account-title">Ooops.</h1>
<p class="out-of-stock-message">We are sorry, but one of your item from the cart is no longer available.</p>
<p class ="out-of-stock-message">Please, pick up demanded items again.</p>
<div class="out-of-stock-message">
    <a class="out-of-stock-message a-link" href='@Url.Action("Clear", "Cart")'> BACK TO CART</a>
</div>

