@model IEnumerable<WebApiClient.DTOs.OrderDto>

@{
    ViewData["Title"] = "Orders";
}

<h2>Your Orders</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Order nr.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model) {
            <tr>
                <td>
                        @Html.ActionLink(order.Id.ToString(), "Details", new { id = order.Id }) 
                </td>
                <td>
                        @Html.DisplayFor(modelItem => order.Date)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => order.TotalPrice) Kr
                </td>
            </tr>
        }
    </tbody>
</table>
