@{
    ViewData["Title"] = "Checkout";
}


<div class="separator">
    <div class="home-title">Cart / Checkout </div>
</div>

<div class="checkoutinfo">
    <div class="firstpart">
        <div class="check-title">
            <hr class="hrr" />
            <div class="ship"> Shipping informations </div>
        </div>
        <label for="name" class="fftitle">Full name</label><br>
        <input type="text" id="name">
        <label for="Address" class="fftitle">Address</label><br>
        <input type="text" id="Address">
        <label for="name" class="fftitle">City</label><br>
        <input type="text" id="name">
        <label for="name" class="fftitle">Country</label><br>
        <input type="text" id="name">
        <hr class="hrr" />
        <div class="shipp"> Contact Informations</div>
        <label for="phone" class="fftitle">Phone</label><br>
        <input type="text" id="phone">
        <label for="Email" class="fftitle">Email</label><br>
        <input type="text" id="Email">

        <hr class="hrr" />
        <div class="shipp"> Payment informations</div>
        <label for="cr" class="fftitle">Card number</label><br>
        <input type="text" id="cr">
        <label for="cr" class="fftitle">Name on the card</label><br>
        <input type="text" id="cr">
        <label for="ed" class="fftitle">Expiration date</label><br>
        <input type="text" id="ed">
        <label for="sc" class="fftitle">Security code</label><br>
        <input type="text" id="sc">
    </div>
    <div class="secondpart">
        <div class="totalcontainer">
            <div class="subtotal">
                <div class="stitle">Subtotal: </div>
                <div>10000DKK</div>
            </div>
            <div class="fee">
                <div class="feetitle">Shipping fee: </div>
                <div>10000DKK</div>
            </div>
            <hr />
            <div class="ordertotal">
                <div class="oc">Order Total:</div>
                <div>10000DKK</div>
            </div>
            <hr />
            <button class="corderbutton"> COMPLETE ORDER </button>
        </div>
    </div>

</div>