@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
}


<div class="separator">
    <div class="home-title">Home / Register </div>
</div>

<!-- Registration Form -->
<div class="ccc">
    <div class="form signup">

        <form action="#">
            <div class="input-field">
                <input type="text" placeholder="Enter your name" required>
                <i class="uil uil-user"></i>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Enter your email" required>
                <i class="uil uil-envelope icon"></i>
            </div>
            <div class="input-field">
                <input type="password" class="password" placeholder="Create a password" required>
                <i class="uil uil-lock icon"></i>
            </div>
            <div class="input-field">
                <input type="password" class="password" placeholder="Confirm a password" required>
                <i class="uil uil-lock icon"></i>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Type a phone number" required>
                <i class="uil uil-phone icon"></i>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Type full address" required>
                <i class="uil uil-home icon"></i>
            </div>



            <div class="input-field button">
                <input type="button" value="Sign up">
            </div>
        </form>

        <div class="login-signup">
            <span class="text">
                Already a member?
                <a href="Login" class="text login-link">Login Now</a>
            </span>
        </div>
        <div>
            <button type="button" class="btn btn-primary">@Html.ActionLink("Orders", "Index", "Order")</button>
        </div>
    </div>
</div>
