@{
    ViewData["Title"] = "About";
}

    <div class="separator">
        <div class="home-title">Home / About</div>
    </div>

    <div class="story">
        <img class="story-img" src="https://www.lytzenit.dk/wp-content/uploads/2022/02/UCN-Logo.png">
        <div class="story-s">
            <div class="story-title">Our Story</div>
            <div class="story-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat accusantium sapiente tempora
                sed dolore esse deserunt
                eaque excepturi, delectus error accusamus vel eligendi, omnis beatae. Quisquam, dicta. Eos quod quisquam esse
                recusandae
                vitae neque dolore, obcaecati incidunt sequi blanditiis est exercitationem molestiae delectus saepe odio eligendi
                modi
                porro eaque in libero minus unde sapiente consectetur architecto. Ullam rerum, nemo iste ex, eaque perspiciatis
                nisi,
                eum totam velit saepe sed quos similique amet. Ex, voluptate accusamus nesciunt totam vitae esse iste.</div>

        </div>   
    </div>

</div>


