@{
    ViewData["Title"] = "Cart";
}


<body class="body" id="content">
    <div class="header">
        <div class="navbar">
            <img class="logo" src="https://www.ucn.dk/Files/Billeder/ucn/Om-UCN/Presse/UCN-hovedlogo-PNG.png" alt="">
            <div class="menu">
                <a href="index.html" class="home">Home</a>
                <div class="about">About</div>
                <div class="products">Products</div>
            </div>
            <div class="menu2">
                <div class="cart">Cart</div>
                <div class="user">User</div>
            </div>
        </div>
    </div>

    <div class="separator">
        <div class="home-title">Home / Cart</div>
    </div>

    <div class="cc">
        
        <div class='cartcontainer'>
            <h5>Item</h5>
            <h5>Price</h5>
            <h5>Quantity</h5>
            <h5>Subtotal</h5>
            <div></div>
        </div>

        <hr class="hr" />

        <div class="cartitems">
            <div>Item name</div>
            <div>300DKK</div>
            <div class="price">
                <button>-</button>
                <div>2</div>
                <button>+</button>
            </div>
            <div>900DKK</div>
            <button>R</button>
        </div>
        <div class="cartitems">
            <div>Item name</div>
            <div>300DKK</div>
            <div class="price">
                <button>-</button>
                <div>2</div>
                <button>+</button>
            </div>
            <div>900DKK</div>
            <button>R</button>
        </div>
        <div class="cartitems">
            <div>Item name</div>
            <div>300DKK</div>
            <div class="price">
                <button>-</button>
                <div>2</div>
                <button>+</button>
            </div>
            <div>900DKK</div>
            <button>R</button>
        </div>

        <hr class="hr" />

        <button class="clearbutton"> Clear shopping cart </button>

        <div class="totalcontainer">
            <div class="subtotal">
                <div class="stitle">Subtotal: </div>
                <div>10000DKK</div>
            </div>
            <div class="fee">
                <div class="feetitle">Shipping fee: </div>
                <div>10000DKK</div>
            </div>
            <hr />
            <div class="ordertotal">
                <div class="oc">Order Total:</div>
                <div>10000DKK</div>
            </div><hr />
            <button class="corderbutton"> COMPLETE ORDER </button>
        </div>



    </div>
</body>