@{
    ViewData["Title"] = "Home Page";
}

<div class="body" id="content">
	<div class="intro">
		<div class="hometext">
			<div class="h-title">Represent your university proudly!</div>
			<div class="main-button">
				<a href=@Url.Action("Index", "Product") class="shop-now-button">SHOP NOW</a>
			</div>
		</div>
		<div class="main-image">
			<img src="https://www.ucn.dk/Files//Billeder/Kontakt/Afdelinger/SD.jpg">
		</div>
	</div>
	<div class="cnt">
		<div class="fproducts">
			<div class="ftitle">Featured products</div>
			<div class="fitems">
				<div class="fproduct">
					<a href="/Product/Details/1">
						<div class="img">
							<img class="fproduct-img" src="~/images/1.jpg">
						</div>
					</a>
					<div class="row">
						<div class="fproduct-name">Black Unisex T-shirt</div>
					</div>
				</div>
				<div class="fproduct">
					<a href="/Product/Details/2">
						<div class="img">
							<img class="fproduct-img" src="~/images/2.jpg">
						</div>
					</a>
					<div class="row">
						<div class="fproduct-name">Green Unisex T-shirt</div>
					</div>
				</div>
				<div class="fproduct">
					<a href="/Product/Details/7">
						<div class="img">
							<img class="fproduct-img" src="~/images/7.jpg">
						</div>
					</a>
					<div class="row">
						<div class="fproduct-name">Blue Ballpoint Pen</div>
					</div>
				</div>
			</div>
			<div class="more-products-container">
				<a href=@Url.Action("Index", "Product") class="more-products-button">More products</a>
			</div>
		</div>
	</div>


	</div>


