@{
    ViewData["Title"] = "Home Page";
}

<div class="body" id="content">

		<div class="intro">
			<div class="hometext">
				<div class="h-title">Represent your favourite school!</div>
				<div class="h-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, at sed omnis corporis doloremque possimus velit!
				Repudiandae nisi odit, aperiam odio ducimus, obcaecati libero et quia tempora excepturi quis alias?</div>
				<button>SHOP NOW</button>
			</div>
			<img src="https://www.ucn.dk/Files//Billeder/Kontakt/Afdelinger/SD.jpg">
		</div>

		<div class="cnt">
			<div class="fproducts">
				<div class="ftitle">Featured products</div>
				<div class="fitems">
					<div class="fproduct">
						<div class="img">img</div>
						<div class="row">
							<div class="title">Product 1</div>
							<div class="price">$599.99</div>
						</div>
					</div>
					<div class="fproduct">
						<div class="img">img</div>
						<div class="row">
							<div class="title">Product 2</div>
							<div class="price">$599.99</div>
						</div>
					</div>
					<div class="fproduct">
						<div class="img">img</div>
						<div class="row">
							<div class="title">Product 3</div>
							<div class="price">$599.99</div>
						</div>
					</div>
				</div>
				<button class="fbutton">Show All products</button>
			</div>
		</div>


	</div>


