/**********************
     Color variables
**********************/
:root {
    --darkblue: #004250;
    --lightblue: #BED6DB;
    --impactblue: #0046AD;
    --yellow: #FFCB4F;
    --red: #F7403A;
}

/**********************
        General
**********************/
html {
    margin: 0;
}

.form-control{
    height: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-size: 0.875rem;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    min-height: 100vh;
}

.p-center {
    align-self: center;
    text-align: center;
}

/*********************
        Menu
**********************/

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    max-width: 1200px;
    border-bottom: 2px solid #E0E3E6;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

/**********************
      ERROR PAGES
**********************/
.out-of-stock-message {
    text-align: center;
    align-content: center;
    align-self:center;
}

/*********************
   USER DETAILS PAGE
**********************/
.account-title {
    align-self: center;
    text-align: center;
    margin: 4%;
}

.acount-info {
    display: flex;
    flex-direction: row;
}

.acount-info-child {
    width: 33%;
    flex: 1;
}


.questions-box {
    padding: 30px;
    border: 2px solid;
    border-color: black;
    
}

.orders-section-row {
    display: flex;
    justify-content: center;
}

.scrollable-table {
    width: 70%;
    overflow-y: scroll;
    height: 350px;
    margin-bottom: 40px;
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    text-indent: initial;
    width: 100%;
    
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.scrollable-table th {
    text-align: left;
    padding: 20px;
}

.scrollable-table tr {
    border-bottom: 1px solid #f4f4f4;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.scrollable-table td {
    padding: 20px;
    text-align: left;
}

/**********************
      LOGIN PAGE
**********************/

.login-div {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.login-input-field{

}

.login-signup {
    margin-top: 30px;
    text-align: center;
}

.login-form{
    width: 450px;
    
}


/*GENERAL
**********************
**********************
**********************/
.p-center {
    align-self: center;
    text-align: center;
}

.a-link {
    font-weight: 500;
    color: #004050;
    text-decoration: none;
}
/*********************
**********************
**********************
**********************/

.menu {
    display: flex;
}

.menu * {
    margin-left: 70px;
}

.menu a {
    font-size: 25px;
    font-weight: 500;
    color: #004050;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menu2 {
    display: flex;
}

.menu2 * {
    margin-left: 30px;
}

.menu2 a {
    font-size: 20px;
    font-weight: 400;
    color: #004050;
    text-decoration: none;
}

.menu2 a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/**********************
        Homepage
**********************/

.intro {
    padding-top: 10vh;
    padding-bottom: 5vh;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}

.h-title {
    padding-top: 100px;
    font-size: 3rem;
    font-weight: 700;
}

.hometext{
    width: 30vw;
    display:inline-block;
}

.main-button {
    padding-right: 15%;
    padding-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cnt {
    margin: 0 auto;
    max-width: 1200px;
}

.shop-now-button {
    background-color: var(--darkblue);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
    padding: 12px 36px;
    text-decoration: none;
}

.shop-now-button:hover {
    background-color: #005266;
    text-decoration: none;
    color: #ffffff;
}

/**********************
        Product
**********************/
.products-title {
    padding-top: 2%;
    max-width: 1200px;
    margin: 2vh auto 0 auto;
    padding: 2vh 0 2vh 2vh;
}

.category-link {
    font-weight: bold;
    font-size: x-large;
    color: #004050;
    text-decoration: none;
}

.category-panel{
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
    align-items: flex-start;
}

ul {
    padding: 0;
    list-style-type: none;
}


.category-list-panel {
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 20px -10px 0;
    padding: 0;
}

.product-list li {
    width: 33%;
}

.product-list li img {
    display: block;
    margin: 0 auto 12px;
    width: 100%;
}

.fproducts {
    padding-bottom: 5vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}

.ftitle {
    background-color: #004050;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 6vh 0 6vh 0;
    align-self: center;
}

.fproduct {
    margin-top: 5vh;
}

.fitems {
    padding-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fproduct-img {
    width: 22vw;
    height: auto;
}

.fproduct-name {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 2vh 0 2vh 0;
}

.more-products-container {
    display:flex;
    justify-content:center;
    align-items:center;
}

.more-products-button {
    background-color: #002129;
    border: 2px solid #002129;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
    padding: 12px 36px;
    text-decoration: none;
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.more-products-button:hover {
    background-color: #005266;
    text-decoration: none;
    color: #ffffff;
}

/**********************
    USER DETAILS
**********************/

/*.account-title {
    align-self: center;
    text-align: center;
    margin: 40px 0;
}

.acount-info {
    display: flex;
    flex-direction: row;
}

.acount-info-child {
    width: 33%;
    flex: 1;
}


.questions-box {
    padding: 30px;
    border: 2px solid;
    border-color: black;
    
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    text-indent: initial;
}

.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}*/

/**********************
       USER EDIT
**********************/

.form-container {
    display: flex;
    justify-content: center;
}

.flex-forms {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button-1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.button-1 {
    background-color: #002129;
    border: 2px solid #002129;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    width: 15vw;
    height: 7vh;
    text-decoration: none;
    margin: 0;
    flex-direction: row;
    align-content: center;
}

    .button-1:hover {
        background-color: #005266;
        text-decoration: none;
        color: #ffffff;
    }

/**********************
**********************/
.separator {
    background-color: var(--lightblue);
    max-width: 1200px;
    margin: 0 auto;
}

.home-title {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 2vh auto 4vh auto;
    max-width: 1200px;
    padding: 2vh 0 2vh 2vh;
}

.story {
    padding-top: 50px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}

.story-img {
    margin-right: 50px;
}

.story-title {
    font-size: 2.5rem;
    font-weight: 500;
    border-bottom: 5px solid lightblue;
    margin-bottom: 30px;
}

/**********************
**********************
**********************
**********************/

.productscontainer {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    /*margin-top: 50px;*/
}


.ctitle {
    font-size: 1.5rem;
    padding-top: 5vh;
    margin-bottom: 1vh;
}

.products-items {
    margin-left: 100px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.settings input[type=text] {
    width: 40%;
    padding: 6px;
    border: none;
    border-bottom: 1px solid #E0E3E6;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/**********************
      Cart Index
**********************/

.cc {
    margin: 0 auto;
    max-width: 1200px;
}

.ccc {
    margin: 0 auto;
    max-width: 1200px;
}

.cartcontainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 40% 15% 15% 15% 15%;
    justify-items: left;
}

.hr {
    width: 1200px;
}

.hr-bold {
    width: 1200px;
    border-top: 3px solid black;
}

.hrr {
    width: 499px;
}

.cartitems {
    display: grid;
    grid-template-columns: 40% 15% 15% 15% 15%;
    grid-template-rows: 40px;
    justify-items: left;
    align-items: center;
    font-size: 1rem;
}

.price {
    display: flex;
}

.totalcontainer {
    margin-top: 5vh;
    padding-bottom: 20px;
    height: auto;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
}

.subtotal, .fee {
    display: flex;
    font-size: 1.2rem;
}

.price-vat {
    display: flex;
    font-size: 1rem;
}

.ordertotal {
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
}

.feetitle {
    width: 15vw;
}

.stitle {
    display: flex;
    width: 15vw;
}

.oc {
    display: flex;
    width: 15vw;
}

.checkoutinfo {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}

.firstpart {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

div br {
    display: none;
}

.check-title {
    padding-top: 50px;
}

.fftitle {
    font-weight: 500;
}

.secondpart {
    margin-left: 100px;
    margin-top: 50px;
}

.to-payment-btn {
    background-color: var(--darkblue);
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
    padding: 12px 36px;
    text-decoration: none;
}
    .to-payment-btn a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #ffffff;
    }

    .to-payment-btn:hover {
        background-color: #005266;
        text-decoration: none;
        color: #ffffff;
    }   

.clear-cart-btn {
    float: right;
    background-color: var(--lightblue);
    cursor: pointer;
    font-family: Arial;
    font-size: 16px;
    padding: 8px 26px;
    text-decoration: none;
    border: 1px solid var(--darkblue);
}

    .clear-cart-btn a {
        text-decoration: none;
        color: black;
    }

    .clear-cart-btn:hover {
        background-color: #005266;
    }
   
/****************
    ???
****************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.password {
    max-width: 730px;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 800px;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 800px;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

    .input-field input:is(:focus, :valid) {
        border-bottom-color: #4070f4;
    }

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i {
    color: #4070f4;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin: 0 8px -2px 4px;
    accent-color: #4070f4;
}

.form .text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    color: #4070f4;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

    .form .button input {
        border: none;
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 6px;
        background-color: #4070f4;
        cursor: pointer;
        transition: all 0.3s ease;
    }

.button input:hover {
    background-color: #265df2;
}

/*****************
   Product something??
*******************/
.product-image {
    width: 600px;
    height: 600px;
    background-color: purple;
}

.product-content {
    padding-left: 30px;
    max-width: 600px;
}

.sproduct-title {
    font-size: 2rem;
    font-weight: bolder;
}

.sproduct-price {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.sproduct-description {
}

.sproduct-instock {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 500;
}

.sproduct-size {
}

.sprodfirstpart {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
}

/****************************
    Product Details Page
****************************/

img.product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: auto;
}

.product-title {
    padding-top: 5vh;
}

.product-info {
    display: block;
    float: left;
    width: 40%;
}

.product-picture {
    display: block;
    float: left;
    width: 60%;
}

.product-info h2 {
    font-size: 24px;
    margin: 0 0 4px 0;
}

.sizes-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
}

div.sizes {
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin: 0 6px 6px 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: 2px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.sizeOutOfStock {
    text-align: center;
    font-size: 18px;
    cursor: default;
    font-weight: 500;
    color: grey;
    line-height: 1;
    margin: 0 6px 6px 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: 2px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.sizes p, div.sizeOutOfStock p {
    vertical-align: middle;
}

div.sizes:hover, div.selected {
    border: 2px solid black;
}

span.sizeName {
    text-align: center;
    display: inline-block;
}

.product-category {
    font-size: 16px;
    color: dimgray;
    margin: 0 0 30px 0;
}

.product-price {
    font-size: 20px;
    margin: 0 0 30px 0;
}

.product-description {
    font-size: 20px;
    margin: 0 0 80px 0;
}

.product-sizes-container {
    display: block;
}

.product-sizes-container p {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.add-to-cart-container {
    display: block;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.7;
}

#add-to-cart-button {
    background-color: #002129;
    border: 2px solid #002129;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
    padding: 12px 36px;
    text-decoration: none;
    margin-top: 25px;
}

.add-to-cart-button:hover {
    background-color: #005266;
    text-decoration: none;
    color: #ffffff;
}

/***********************
    Create Order Page
        CHECKOUT
************************/

.checkout-container {
    max-width: 1200px;
    margin: 0 auto;
}

.col-md-6 {
    margin: 0 auto 0 0;
}

ul.cart-list {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul li {
    list-style: none;
    padding: 0 0 0 15px;
}

.cart-list > li {
    border-bottom: 1px solid #d6d9e0;
}

.cart-list .item-product {
    padding: 0;
}

.cart-list .title {
    letter-spacing: normal;
    font-weight: 400;
    font-size: 100%;
    margin: 15px 0 20px;
}

.cart-list .title h3 {
    margin: 10px 0 0 10px;
}

    .cart-list .title a {
        margin-left: 10px;
    }

.cart-list .title .img {
    width: 80px;
    margin-left: -10px;
    float: left;
    display: block;
}

.cart-list .title .img img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.cart-list .count {
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    margin: 0 0 0 10px;
}

.cart-list .price {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    text-align: right;
    line-height: 30px;
    font-weight: 600;
    font-size: 110%;
}

.cart-items {
    overflow: hidden;
}

.cart .total {
    padding: 10px 20px;
}

    .cart .total .price-total-text {
        display: inline-block;
        letter-spacing: normal;
        vertical-align: top;
        font-size: 140%;
        font-weight: 600;
        text-align: left;
        line-height: 1.3;
        margin: 20px 0 0 20px;
    }

    .cart .total .price-total {
        display: inline-block;
        letter-spacing: normal;
        vertical-align: top;
        font-size: 140%;
        font-weight: 600;
        text-align: right;
        line-height: 1.3;
        width: 48%;
        margin: 20px 0 0 20px;
    }

    .cart .total .subtotal-text {
        display: inline-block;
        letter-spacing: normal;
        font-weight: 500;
        vertical-align: top;
        text-align: left;
        line-height: 1.3;
        margin: 10px 0 0 20px;
    }

    .cart .total .subtotal-price {
        display: inline-block;
        letter-spacing: normal;
        vertical-align: top;
        text-align: right;
        width: 55%;
        line-height: 1.3;
        margin: 10px 0 0 20px;
    }

    .cart .total .subtotal-text-small {
        display: inline-block;
        letter-spacing: normal;
        font-weight: 500;
        vertical-align: top;
        text-align: left;
        line-height: 1.3;
        font-size: 90%;
        margin: 10px 0 0 20px;
    }

    .cart .total .subtotal-price-small {
        display: inline-block;
        letter-spacing: normal;
        vertical-align: top;
        text-align: right;
        width: 55%;
        line-height: 1.3;
        font-size: 90%;
        margin: 10px 0 0 20px;
    }

.pay-now-btn {
    background-color: var(--darkblue);
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
    padding: 12px 36px;
    text-decoration: none;
    border: none;
    color: white;
    display: block;
    margin: 6vh auto;
}

    .pay-now-btn a {
        text-decoration: none;
        color: #ffffff;
    }

    .pay-now-btn:hover {
        background-color: #005266;
        text-decoration: none;
        color: #ffffff;
    }   

/********************
        Footer
********************/

footer {
    background-color: var(--lightblue);
}

.custom-footer {
    width: 100%;
    bottom: 0;
    margin: 10vh auto 0 auto;
    position: sticky;
    top: 100%;
    padding: 5vh 0 5vh 0;
}

    .custom-footer .container {
        max-width: 1200px;
    }

