body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-size: 0.875rem;
    scroll-behavior: smooth;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    max-width: 1200px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}


/**********************
**********************
**********************
**********************/


.menu {
    display: flex;
}

    .menu * {
        margin-left: 30px;
    }

.menu2 {
    display: flex;
}

    .menu2 * {
        margin-left: 30px;
    }


/**********************
**********************
**********************
**********************/

.intro {
    padding-top: 150px;
    padding-bottom: 150px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}

.h-title {
    padding-top: 100px;
    font-size: 2.5rem;
    font-weight: bold;
}

/**********************
**********************
**********************
**********************/

.cnt {
    background-color: aliceblue;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 20px -10px 0;
    padding: 0;
}

    .product-list li {
        width: 33%;
    }

        .product-list li img {
            display: block;
            margin: 0 auto 12px;
            width: 100%;
        }

.fproducts {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}

.ftitle {
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 50px;
    align-self: center;
}

.fitems {
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product-img {
    width: 200px;
    height: 200px;
    background-color: brown;
}

.fbutton {
    align-self: center;
    width: 200px;
}

/**********************
**********************
**********************
**********************/

.separator {
    background-color: aliceblue;
}

.home-title {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.story {
    padding-top: 50px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}

.story-img {
    margin-right: 50px;
}

.story-title {
    font-size: 2.5rem;
    font-weight: 500;
    border-bottom: 5px solid lightblue;
    margin-bottom: 30px;
}

/**********************
**********************
**********************
**********************/

.productscontainer {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    margin-top: 50px;
}


.ctitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.products-items {
    margin-left: 100px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.fproduct {
    margin-top: 50px;
    margin-right: 125px;
}

.settings input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    background-color: aliceblue;
}

/**********************
**********************
**********************
**********************/

.cc {
    margin: 0 auto;
    max-width: 1200px;
}

.ccc {
    margin: 0 auto;
    max-width: 1200px;
}

.cartcontainer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 290px 290px 290px 290px auto;
    justify-items: center;
}

.hr {
    width: 1200px;
}

.hrr {
    width: 499px;
}

.cartitems {
    display: grid;
    grid-template-columns: 290px 290px 290px 290px auto;
    grid-template-rows: 70px;
    justify-items: center;
    align-items: center;
}

.clearbutton {
    margin-top: 20px;
    margin-left: 1050px;
}

.price {
    display: flex;
}

.totalcontainer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    height: auto;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    float: right;
    font-size: 1.2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.subtotal, .fee {
    display: flex;
    font-size: 1.2rem;
}

.ordertotal {
    display: flex;
}

.feetitle {
    margin-left: 50px;
    margin-right: 50px;
}

.stitle {
    display: flex;
    margin-left: 50px;
    font-weight: 500;
    margin-right: 82px;
}

.oc {
    display: flex;
    margin-left: 50px;
    font-weight: 500;
    margin-right: 60px;
}

.corderbutton {
    margin-left: 50px;
    width: 300px;
}

.checkoutinfo {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}

.firstpart {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

div br {
    display: none;
}

.ship {
    font-size: 2rem;
    font-weight: 500px;
    margin-bottom: 40px;
}

.check-title {
    padding-top: 50px;
}

.fftitle {
    font-weight: 500;
    font-size: 1.1rem;
}

input[type=text],
select {
    width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.shipp {
    font-size: 2rem;
    margin-bottom: 40px;
}

.secondpart {
    margin-left: 100px;
    margin-top: 50px;
}


/**************
*****************
****************
****************/

/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');







.password {
    max-width: 730px;
}


.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 800px;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 800px;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

    .input-field input:is(:focus, :valid) {
        border-bottom-color: #4070f4;
    }

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i {
    color: #4070f4;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin: 0 8px -2px 4px;
    accent-color: #4070f4;
}

.form .text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    color: #4070f4;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

    .form .button input {
        border: none;
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 6px;
        background-color: #4070f4;
        cursor: pointer;
        transition: all 0.3s ease;
    }

.button input:hover {
    background-color: #265df2;
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}

/**************
*****************
****************
****************/

.product-image {
    width: 600px;
    height: 600px;
    background-color: purple;
}


.product-content {
    padding-left: 30px;
    max-width: 600px;
}

.sproduct-title {
    font-size: 2rem;
    font-weight: bolder;
}

.sproduct-price {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.sproduct-description {
}

.sproduct-instock {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 500;
}

.sproduct-size {
}

.sprodfirstpart {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
}

/*
    Product Details Page
*/

img.product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: auto;
}

.product-info {
    display: block;
    float: left;
    width: 40%;
}

.product-picture {
    display: block;
    float: left;
    width: 60%;
}

.product-info h2 {
    font-size: 24px;
    margin: 0 0 4px 0;
}

div.sizes {
    float: left;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    margin: 0 6px 6px 0;
    padding: 9px 12px;
    border: 2px solid grey;
}

div.sizes:hover, div.selected {
        border: 2px solid black;
}

.product-category {
    font-size: 16px;
    color: dimgray;
    margin: 0 0 30px 0;
}

.product-price {
    font-size: 20px;
    margin: 0 0 30px 0;
}

.product-description {
    font-size: 20px;
    margin: 0 0 80px 0;
}

.product-sizes-container p {
    font-size: 20px;
    margin: 0 0 5px 0;
}

.add-to-cart-btn {

}
