@model WebAppMVC.ViewModels.UserEditVM

<h1 class="account-title">@Html.DisplayFor(model => model.PageTitle)</h1>

<div class="flex-forms">
    <form asp-action="UpdateProfile">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Name:*</label>
            <input asp-for="Name" style="display: block;" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Surname" class="control-label">Surname:*</label>
            <input asp-for="Surname" style="display: block;" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label">Phone:*</label>
            <input asp-for="PhoneNumber" style="display: block;" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label">Address:*</label>
            <input asp-for="Address" style="display: block;" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="update-profile-button-container">
            <input type="submit" value="Update Profile" class="button-1" />
        </div>
    </form>
    <form asp-action="UpdatePassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @{
            Model.Password = "";
        }
        <div class="form-group">
            <label asp-for="Password" class="control-label">Password:*</label>
            <input asp-for="Password" type="password" style="display: block;" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label">New password:*</label>
            <input asp-for="NewPassword" type="password" style="display: block;" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label">New password:*</label>
            <input asp-for="NewPassword" type="password" style="display: block;" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="update-profile-button-container">
            <input type="submit" value="Update Password" class="button-1" />
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
