@model WebApiClient.DTOs.UserDto

<h1 class="account-title">Register</h1>
<div class="login-div">
    <form asp-action="Create" class="login-form">
        @*<form method="post" action="@Url.Action("Create", "User")" class="login-form">*@
            <div class="login-input-field">
            <span asp-validation-for="Name" class="text-danger"></span>
                <input type="text" name="Name" placeholder="Enter your name" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
            <input type="text" name="Surname" placeholder="Enter your Surname" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
                <input type="text" name="Email" placeholder="Enter your Email" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
                <input type="password" name="Password" placeholder="Enter your password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <input type="password" name="Password" placeholder="Confirm your password" class="form-control" />
            <input type="text" name="PhoneNumber" placeholder="Enter your phone number" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
                <input type="text" name="Address" placeholder="Enter your full address" class="form-control" />
                <input type="submit" value="Create" class="button-1">
            </div>
        </form>

    <div class="login-signup">
        <span class="text">
            Already a member?
            <a class="a-link" href='@Url.Action("Login","Authentication")'>Login Now</a>
        </span>
    </div>
</div>

