<h1 class="account-title">Product was added to cart!</h1>
<p class="out-of-stock-message">
    <a class="out-of-stock-message a-link" href='@Url.Action("Index", "Product")'>CONTINUE SHOPING</a>
    |
    <a class="out-of-stock-message a-link" href='@Url.Action("Index", "Cart")'>GO TO CART</a>
</p>
