<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppMVC.styles.css" asp-append-version="true" />
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
<body>
    <header>
        <div class="header">
            <div class="navbar">
                <img class="logo" src="https://www.ucn.dk/Files/Billeder/ucn/Om-UCN/Presse/UCN-hovedlogo-PNG.png" alt="">
                <div class="menu">
                    <a asp-controller="Home" asp-action="Index" class="home">Home</a>
                    <a asp-controller="Home" asp-action="About" class="about">About</a>
                    <a asp-controller="Product" asp-action="Index" class="about">Products</a>
                    
                </div>
                <div class="menu2">
                    <a asp-controller="Cart" asp-action="Index" class="about">Cart</a>                        
                    <a asp-controller="User" asp-action="Register" class="about">User</a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*    <footer class="custom-footer">
       <div class="container">
            <p>The official merch store of University of Northern Denmark</p>
            <p>Made by students for students</p>
            <p>2022 &copy; By Viktor Tindula, Matej Rolko, Petra Pastierová and Martin Glogovský</p>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
